<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UEG - Desenvolvimento Web 2025: Aluno</title>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>

<body>
    <h1>Cadastro de Aluno</h1>

    <form action="/alunos/create" method="post">
        <label>Nome: </label>
        <input type="text" name="nome">

        <label>Email</label>
        <input type="text" name="email">

        <button>Salvar</button>
    </form>
</body>

</html>